@use '../../../../globalStyles/var.scss' as *;
@use '../../../../globalStyles/mixin.scss' as *;

.paths {
  display: flex;
  position: relative;
  width: 100%;

  .indicator,
  .indicator2 {
    position: absolute;
    bottom: 0;
    background-color: $primary;
  }

  .indicator {
    z-index: 2;
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: $primary;
    transition: left 0.2s;
  }

  .indicator2 {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: $gray1;
  }

  .path {
    display: flex;
    flex: 1;
    font-size: 1.1rem;
    color: $color_2;
    font-weight: 600;
    padding: 0.7rem;
    justify-content: center;
    cursor: pointer;
  }
}

.wrapper {
  .section {
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 600;
      color: $color_1;
    }

    .title,
    .text {
      height: min-content;
    }

    .text {
      color: $color_base;
      font-size: 1rem;
      white-space: pre-wrap;
      span {
        margin-left: 0.5rem;
      }
    }
  }
}
