@use './var.scss' as *;

*::-webkit-scrollbar {
  width: 5px !important;
}
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

[class='ant-progress-circle-path'] {
  stroke: $primary !important;
}

/* For Firefox */
.scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}
