@mixin max_width {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1500px;
  padding-left: 25px !important;
  padding-right: 25px !important;
  width: 100%;

  @media only screen and (min-width: 570px) {
    padding-left: 38px !important;
    padding-right: 38px !important;
  }

  @media only screen and (min-width: 770px) {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
}

@mixin box-shadow($color) {
  box-shadow: -2px 2px 8px $color;
}
