$primary: rgb(44, 202, 102);
$secondary: rgb(139, 69, 19);
$tertiary: rgb(240, 240, 240);
$error: rgb(179, 38, 30);
$info: rgb(64, 166, 206);
$warning: rgb(254, 249, 195);
$color_base: rgb(0, 0, 0);
$color_1: rgb(31, 41, 55);
$color_2: rgb(55, 65, 81);
$color_low: rgb(107, 114, 128);

$gray1: rgb(204, 204, 204);
$gray2: rgb(235, 235, 235);
$gray3: rgb(249, 250, 251);

$z-index: 100;
