$primary: #22c55e;
$secondary: #8b4513;
$tertiary: #f0f0f0;
$error: #b3261e;
$info: #40a6ce;
$warning: #ffe500;
$color_base: black;
$color_1: #1f2937;
$color_2: #374151;
$color_low: #6b7280;
$gray1: #cccccc;
