@use '../../../../globalStyles/var.scss' as *;
@use '../../../../globalStyles/mixin.scss' as *;

.register_seller_wrapper {
  flex: 1;
  padding: 48px 0 !important;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  @include max_width();

  .progress {
    max-width: 500px;
    width: 100%;
  }
}

.content {
  flex: 1;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  & > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.2rem;
    padding-bottom: 2rem;

    svg {
      color: $primary;
      font-size: 50px;
    }

    .slogan {
      font-size: 1rem;
      color: $color_2;
    }

    .title {
      font-weight: 600;
      font-size: 1.5rem;

      @media only screen and (min-width: 770px) {
        font-size: 1.8rem;
      }
    }
  }

  .strengths {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid $primary;
    border-radius: 0.2rem;
    margin-bottom: 1.5rem;

    .header {
      padding: 1rem 1rem;
      font-size: 1rem;
    }

    .over_lay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: $primary;
      opacity: 0.1;
      border-radius: 0.2rem;
    }

    .strength {
      padding: 0 1rem 1rem;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      color: $color_2;

      svg {
        color: $primary;
      }
    }
  }

  .form {
    display: grid;
    gap: 0.5rem 1rem;
    grid-template-columns: repeat(1, 1fr);

    @media only screen and (min-width: 700px) {
      grid-template-columns: repeat(2, 1fr);

      .submit_btn {
        grid-column: span 2;
      }
    }

    .btn_row {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
