.split {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 2.5rem;

  .filters {
    flex: 1;
  }

  .products {
    display: grid;
    gap: 2rem;
    overflow-y: auto;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (min-width: 1500px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
