@use '../../../../globalStyles/var.scss' as *;
@use '../../../../globalStyles/mixin.scss' as *;

.card_wrapper {
  padding: 0 !important;
  position: relative;
  align-items: start !important;
  gap: 0 !important;

  .status {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 0.2rem;

    &.active {
      background-color: rgb($primary, 0.2);
      color: $primary;
      border: 1px solid $primary;
    }

    &.sold {
      background-color: rgb($info, 0.2);
      color: $info;
      border: 1px solid $info;
    }

    &.sold_out {
      background-color: rgb($error, 0.2);
      color: $error;
      border: 1px solid $error;
    }
  }

  .video {
    height: 250px;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .card_content {
    width: 100%;
    flex: 1;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1rem;
    row-gap: 1rem;

    .sec {
      .sec_title {
        color: $color_low;
        font-weight: 500;
        font-size: 0.9rem;
      }

      .sec_text {
        font-size: 0.9rem;
        font-weight: bold;
        color: $color_1;
      }
    }

    .title {
      font-size: 1rem;
      font-weight: 600;
      color: $color_1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .price {
      font-size: 1rem;
      font-weight: 600;
      color: $primary;
    }

    .span_info {
      display: flex;
      justify-content: space-between;
      flex: 1;
      max-width: 600px;
    }

    .actions {
      display: flex;
      column-gap: 1rem;
      max-width: 400px;
      // align-items: end;
      // flex: 1;
      button {
        height: 2rem;

        &:last-child {
          border-color: $color_low !important;
          color: $color_low;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  &.is_span {
    flex-direction: row;
    // @media screen and (min-width: 550px) {
    //   max-width: 60%;
    // }

    .card_content {
      height: 300px;
    }

    .video {
      max-width: 35%;
      min-width: 35%;
      height: 300px;
      border-radius: 0.3rem;
    }
  }
}
