@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
    position: relative;
    overflow: hidden;
    height: 250px; /* Adjust based on your image size */
  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel .indicator {
    cursor: pointer;
  }
  
  .carousel .indicator.active {
    background-color: green;
  }


  /* For WebKit browsers (Chrome, Safari, Edge) */
.scrollbar-style ::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-style ::-webkit-scrollbar-thumb {
  background-color: #75CA23; /* Scrollbar thumb color */
}

.scrollbar-style ::-webkit-scrollbar-track {
  background: white; /* Background of the track */
}

/* For Firefox */
.scrollbar-style {
  scrollbar-width: thin; /* You can set 'auto' or 'thin' */
  scrollbar-color: #75CA23 white; /* Scrollbar thumb color, scrollbar track color */
}
  