@use '../../../globalStyles/var.scss' as *;
@use '../../../globalStyles/mixin.scss' as *;

.content {
  @include max_width;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 40px 0;
}
