@use '../../../globalStyles/var.scss' as *;
@use '../../../globalStyles/mixin.scss' as *;

.content {
  background-color: $tertiary;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 40px 0;
  @include max_width();
}
