@use '../../../../globalStyles/var.scss' as *;
@use '../../../../globalStyles/mixin.scss' as *;

.banner {
  width: 100%;
  position: relative;

  .cover {
    position: absolute;
    top: 0;
    background-color: $secondary;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .info {
    position: absolute;
    top: 0;
    height: 100%;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    @include max_width();

    .content {
      z-index: 1;
      display: flex;
      flex-direction: column;
      row-gap: 0.4rem;

      .header {
        font-weight: 600;
        font-size: 3.5rem;
      }

      .slogan {
        font-size: 1.3rem;
      }

      .search {
        max-width: 1000px;
        margin-top: 2rem;
      }
    }
  }

  .img {
    z-index: 0;
    width: 100vw;
    height: 400px;
    object-fit: cover;
  }
}
