.inputWrapper {
  display: flex;
  padding: 0.5rem;
  border-top: 1px solid #ddd;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.sendBtn {
  background: #00C853;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
