@use '../../../../globalStyles/var.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .input_wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .input {
      padding: 0.5rem 0.7rem;
      width: 100%;
      font-size: 0.9rem;
      border: 2px solid $gray1;
      border-radius: 4px;
      transition:
        border-color 0.2s,
        box-shadow 0.2s;

      &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 3px #18e0292e;
        outline: none;
      }
    }

    .see_password {
      background: none;
      border: none;
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }

  .error {
    color: $error;
    font-size: 0.8rem;
    margin-top: 4px;
  }
}
