@use '../../../globalStyles/var.scss' as *;
@use '../../../globalStyles/mixin.scss' as *;

.footer {
  margin-top: auto;

  &.is_min {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    font-size: 0.9rem;
    color: $color_2;
    border-top: 1px solid $gray2;
  }

  .content {
    background-color: $secondary;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px 80px;
    padding: 54px 30px;
    color: white;
    font-size: 1.1rem;
    @include max_width();

    @media only screen and (min-width: 770px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content 1fr;
      padding: 64px 48px;
    }

    @media only screen and (min-width: 1150px) {
      grid-template-columns: 300px repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 40px;
    }

    & > section {
      display: flex;

      @media only screen and (min-width: 1150px) {
        justify-content: center;
      }

      & > div {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        row-gap: 0.8rem;
      }

      .dropdown {
        max-height: min-content;
      }

      .dropdown_list {
        font-weight: 700;
      }

      &:first-child {
        max-width: 300px;
        @media only screen and (min-width: 770px) {
          max-width: auto;
        }
        h3 {
          font-size: 1.5rem;
        }

        .social_icons {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;

          & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 2px solid white;
          }
        }

        .slogan {
          line-height: 2rem;
        }

        .brand {
          display: flex;
          align-items: center;
          img {
            margin-right: 10px;
          }
        }
      }

      &:not(:first-child) {
        h3 {
          font-size: 1.3rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 10px 0;
          // width: 100%;
        }

        ul {
          display: flex;
          flex-direction: column;
          row-gap: 0.8rem;
          margin: 0.1rem;
          padding-left: 0%;
        }
      }

      &:last-child {
        @media only screen and (min-width: 770px) {
          grid-column: span 2;
        }

        @media only screen and (min-width: 1150px) {
          grid-column: span 4;
        }
      }
    }
  }
}
