@use '../../../../globalStyles/var.scss' as *;
@use '../../../../globalStyles/mixin.scss' as *;

.card {
  height: min-content;
  max-width: 300px;
  align-items: start !important;
  padding: 1rem !important;
  row-gap: 1rem !important;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .title,
    .action {
      color: $color_1;
    }

    &.primary {
      .title,
      .action {
        color: $primary;
        background-color: rgb($primary, 0.2);
      }
    }

    &.info {
      .title,
      .action {
        color: $info;
        background-color: rgb($info, 0.2);
      }
    }

    .title,
    .action {
      svg {
        font-size: 18px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      padding: 0.2rem 0.6rem;
      border-radius: 0.5rem;
    }
  }

  .metric {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .title {
      color: $color_low;
      font-size: 0.8rem;
    }

    .value {
      font-size: 1rem;
      font-weight: 600;
      color: $color_1;
    }
  }
}
