@use '../../../../globalStyles/var.scss' as *;
@use '../../../../globalStyles/mixin.scss' as *;

.card {
  max-width: 300px;
  align-items: start !important;
  padding: 1rem !important;
  row-gap: 1rem !important;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;

    .title,
    .action {
      color: $color_1;
      column-gap: 0.5rem;
    }

    &.primary {
      .title,
      .action {
        column-gap: 0.5rem;
        & .icon {
          color: $primary;
          background-color: rgb($primary, 0.2);
        }
      }
    }

    &.info {
      .title,
      .action {
        column-gap: 0.5rem;
        & .icon {
          color: $info;
          background-color: rgb($info, 0.2);
        }
      }
    }

    .title,
    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      & .icon {
        svg {
          font-size: 18px;
        }
        padding: 0.3rem;
        box-shadow: 1px 1px 3px $gray1;
        border-radius: 50%;
      }

      & span {
        font-weight: 500;
      }
    }
  }

  .description {
    display: flex;
    font-size: 0.9rem;
    color: $color_1;
  }

  .metric {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .title {
      color: $color_low;
      font-size: 0.8rem;
    }

    .value {
      font-size: 1rem;
      font-weight: 600;
      color: $color_1;
    }
  }
}
